<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <title>Super Hero Sightings</title>
</head>

<body>

    <!-- Main Body of Page -->

    <div class="mainContainer">

        <!-- Start Nav -->
        <nav class="navbar sticky-top navbar-expand bg-dark" style="justify-content:center; height: 125px;">
            <img th:src="@{images/logo.png}" width="250x" class="d-inline-block align-top" alt="HERO logo">
            <h1 style="color:rgb(230,230,230); padding-left: 120px;">Super Hero Sightings</h1>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-size:large;" href="#" id="navbarDropdown"
                    role="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="index">Home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="sightings">Sightings</a>
                    <a class="dropdown-item" href="heroes">Heroes/Villains</a>
                    <a class="dropdown-item" href="superpowers">Superpowers</a>
                    <a class="dropdown-item" href="locations">Locations</a>
                    <a class="dropdown-item" href="organizations">Organizations</a>
                </div>
            </div>
        </nav>

        <!-- End Nav -->

        <!-- Start News Ticker-->

        <div class="container">
            <div class="ticker">
                <div class="title">
                    <h5>Breaking News</h5>
                </div>
                <div class="news">
                    <marquee class="news-content">
                        <p>We are currently experiencing a substantial increase in the number of VILLAIN sightings in
                            your area!</p>
                        <p>Please seek the nearest super hero organization HQ for refuge.</p>
                        <p>News brought to you in part by the Hero Education and Relationship Organization(HERO) &#8482;
                        </p>
                    </marquee>
                </div>
            </div>
        </div>

        <!-- End News Ticker-->

        <hr />

        <!-- Start Validation -->


        <!-- End Validation-->

        <!-- Start Edit Organization Form -->

        <div class="container" style="justify-content:center">
            <div class="row m-4 border border-dark editFormTable">
                <div class="col-3 text-center m-3">
                    <span class="h3">Edit Organization</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="editOrganization" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="name" id="name" class="form-control"
                                    th:value="${organization.name}" />
                                <div th:if="${#fields.hasErrors('organization.name')}">
                                    <p th:each="error : ${#fields.errors('organization.name')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid Name </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="description" id="description" class="form-control"
                                    th:value="${organization.description}" />
                                <div th:if="${#fields.hasErrors('organization.description')}">
                                    <p th:each="error : ${#fields.errors('organization.description')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid Description </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-3 col-form-label">
                                Address</label>
                            <div class="col-9">
                                <input type="text" name="address" id="address" class="form-control"
                                    th:value="${organization.address}" />
                                <div th:if="${#fields.hasErrors('organization.address')}">
                                    <p th:each="error : ${#fields.errors('organization.address')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid Address </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="city" class="col-3 col-form-label">
                                City</label>
                            <div class="col-9">
                                <input type="text" name="city" id="city" class="form-control"
                                    th:value="${organization.city}" />
                                <div th:if="${#fields.hasErrors('organization.city')}">
                                    <p th:each="error : ${#fields.errors('organization.city')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid City </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="state" class="col-3 col-form-label">
                                State</label>
                            <div class="col-9">
                                <input type="text" name="state" id="state" class="form-control"
                                    th:value="${organization.state}" />
                                <div th:if="${#fields.hasErrors('organization.state')}">
                                    <p th:each="error : ${#fields.errors('organization.state')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid State </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="zip" class="col-3 col-form-label">
                                Zip Code</label>
                            <div class="col-9">
                                <input type="number" name="zip" id="zip" class="form-control"
                                    th:value="${organization.zip}" />
                                <div th:if="${#fields.hasErrors('organization.zip')}">
                                    <p th:each="error : ${#fields.errors('organization.zip')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid Zip Code </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-3 col-form-label">
                                Phone</label>
                            <div class="col-9">
                                <input type="number" name="phone" id="phone" class="form-control"
                                    th:value="${organization.phone}" />
                                <div th:if="${#fields.hasErrors('organization.phone')}">
                                    <p th:each="error : ${#fields.errors('organization.phone')}"
                                        class="alert alert-danger" th:text="${error}"> Invalid Phone </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" th:href="organizations"><button type="button" class="btn btn-outline-secondary">
                                    Cancel</button></a>
                            <input type="hidden" name="id" th:value="${organization.id}" />
                            <button type="submit" class="btn btn-secondary">Update Organization</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- End Edit Organization Form -->

    </div>


    <!-- End main body -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>;